<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta charset='UTF-8' />
    <title>Output of rails_best_practices</title>

    <style type="text/css">
      body {
        color: #333;
        background: #eee;
        padding: 0 20px;
      }
      h1 {
        color: ##4E4E4E;
      }
      table {
        background: white;
        border: 1px solid #666;
        border-collapse: collapse;
        margin: 20px 0;
        font-size: 14px;
      }
      table th, table td {
        padding: 4px;
        border: 1px solid #D0D0D0;
      }
      table th {
        background-color: #DFC;
        color: #337022;
      }
      table td.filename {
        color: #ED1556;
      }
      table tr:hover {
        background-color: #FFFFC0;
      }
    </style>
  </head>
  <body>
    <h1>rails_best_practices output</h1>
    <h2>
      Please go to
      <a href='http://rails-bestpractices.com' target='_blank'>http://rails-bestpractices.com</a>
      to see more useful Rails Best Practices.
    </h2>
    <h2>
      <% if @errors.empty? %>
        No error found. Cool!
      <% else %>
        Found <%= @errors.size %> errors.
      <% end %>
    </h2>
    <table>
      <tr>
        <th>Filename</th>
        <th>Line Number</th>
        <th>Warning Message</th>
      </tr>
      <% @errors.each do |error| %>
        <tr>
          <td class='filename'>
            <% if @textmate %>
              <a href='txmt://open/?url=file://<%= File.expand_path(error.filename) %>&amp;line=<%= error.line_number %>'><%= error.filename %></a>
            <% elsif @mvim %>
              <a href='mvim://open/?url=file://<%= File.expand_path(error.filename) %>&amp;line=<%= error.line_number %>'><%= error.filename %></a>
            <% else %>
              <%= error.filename %>
            <% end %>
          </td>
          <td class='line'><%= error.line_number %></td>
          <td class='message'>
            <a href='<%= error.url %>' target='_blank'><%= error.message %></a>
          </td>
        </tr>
      <% end %>
    </table>
  </body>
</html>
